.container-generator {
    max-width: 300px;
    display: flex;
}

.container-generator input {
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(43, 43, 43);
    background-color: rgb(176, 176, 176);
    
}

.message {
    background-color: #081433;
    border:1px solid #081433;
    padding: 20px;
    color: #fbc531;
    width: 20%;
    top: 50px;
    animation: fadein .5s ;
    font-size: 1.5rem;
    position:absolute;
    border-radius: 4px;
}
  
  @keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

.button-copied {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.button-copied span {
    color: #fbc531;
    transition: 0.5s;
}

.button-copied span:hover {
    color: #dca611;
    transition: 0.5s;
}

.button-generator {
    width: 100%;
    height: 30px;
    margin-top: 1rem;
    cursor: pointer;
    background-color: transparent;
    color: #dca611;
    font-size: 1rem;
    border: none;
    border-radius:3px;
    border:1px solid #dca611;

}

.button-generator:hover {
    border:1px solid #081433;
    background-color: #dca611;
    color: #081433;
    font-weight: 600;

}


